.taskBox {
  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  color: var(--gray-100);

  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 0.75rem;

  padding: 1rem;
  border-radius: 8px;
  line-height: 1.4;
  font-size: 0.875rem;
}

.taskBox label {
  display: block;
  width: 100%;
}

.taskBox input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;

  background: transparent;
  border-radius: 50%;
  border: 1px solid var(--blue);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: all 0.2s;
}

.taskBox input[type="checkbox"]:hover {
  border: 1px solid var(--blue-dark);
  background: var(--blue-dark-opacity);
}

.taskBox input[type="checkbox"]:checked {
  background: var(--purple-dark);
  border: 1px solid var(--purple-dark);

  transition: background-color 0.2s;
}

.taskBox input[type="checkbox"]:checked:hover {
  background: var(--purple);
  border: 1px solid var(--purple);
}

.taskBox input[type="checkbox"]::before {
  content: "\2713";
  font-size: 1rem;
  line-height: 0;
  font-weight: 700;
  color: var(--gray-100);

  visibility: hidden;
  max-height: 0;
}

.taskBox input[type="checkbox"]:checked::before {
  visibility: visible;
  max-height: none;
}

.taskBox input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: var(--gray-300);
}

.taskBox button {
  background: transparent;
  color: var(--gray-300);
  line-height: 0;
  border: none;
  outline: none;
  transition: all 0.2s;
  padding: 0.375rem;
  border-radius: 4px;
}

.taskBox button:hover {
  color: var(--danger);
  background: var(--gray-400);
}
